* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

body{
    background-color: #181848;
}

header {
    padding: 2rem 0;
    background-color: #000000;
}

.final-site{
    margin-top: 100px;
    height: 50px;
    width: 100%;
    background-color: #000000;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header h1 {
    color: #7890a8;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    flex-direction: column;
    font-size: 1em;
    align-items: center;
}

nav a {
    text-decoration: none;
    color: #7890a8
}

.descricao-loja  img{
    max-width: 100%;
    height: auto;
}

.conteudo {
    display: block;
}

h2{
    border-bottom: 3px solid #f0a818;
    padding: 0.5em 0;
    color: #f0a818;
}

h3 {
    color: #f0a818;
    margin-bottom: 0.5em;
}

h4{
    color: #7890a8;
    font-weight: normal;
}

article img{
    width: 100%;
    height: 340px;
    margin: 1em 0 0.5em 0;
}

.produto button {
    border-width: 1px;
    border-color: #000000;
    border-radius: 6px;
    background-color: #304878;
    margin-top: 1em;
    color: #f0a818;
    font-size: 22px;
    padding: 0.5rem 0;
    width: 100%;
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    nav{
        flex-direction: row;
    }

    nav a{
        font-size: 24px;
        margin-left: 1rem;
    }

    h1{
        font-size: 42px;
    }
    
    .produtos{
        display: grid;
        grid-template-columns: repeat(2, 48%);
    }

    .produto{
        padding: 1%;
    }
}

@media screen and (min-width: 1024px) {

    .container {
        width: 100%;
        max-width: 1024px;
    }

    nav{
        flex-direction: row;
    }

    nav a{
        font-size: 24px;
        margin-left: 1rem;
    }

    h1{
        font-size: 42px;
    }

    .descricao-loja{
        display: flex;
    }

    .descricao-loja h4{
        padding: 16px 16px;
        font-size: 1.2em;
    }

    .produtos{
        display: grid;
        grid-template-columns: repeat(4, 25%);
    }

    .produto{
        padding: 2%;
    }

    article img{
        max-width: 100%;
        height: auto;
    }
    
    .produto h3{
        height: 48px;
    }

    .produto h4{
        height: 40px;
    }
}